
	<div id="headline" class="container">
	<div class="row-fluid">
	{foreach from=$category_games item=category key=i}
	  {if $i <= 3 }
		<div class="span3">
			<article class="post">
				<a href="{$base_url}game/play/{$category.game_id}/{$category.game_ascii_title}" title="{$category.game_title}" rel="bookmark">
				<img width="225" height="136" src="{$category.game_image_url}" class="thumb" alt="{$category.game_ascii_title}" />
				</a>
				<div class="entry">
					<h3><a href="{$base_url}game/play/{$category.game_id}/{$category.game_ascii_title}" title="{$category.game_ascii_title}" rel="bookmark">{$category.game_title}</a></h3>
					<p>{$category.game_published_on|date_format}</p>
				</div>
				<div class="clearfix"></div>
			</article>
		</div>
	  {/if}	
	{/foreach}

	</div>
	</div>

	<div id="intr" class="container">
		<div class="row-fluid">
		
		<div class="search span3"><div class="offset1">
			<form method="get" id="searchform" action="{$base_url}home/search/">
				<p><input type="text" placeholder="Search here..." name="key" id="key" />
				<input type="submit" id="searchsubmit" value="Search" /></p>
			</form>
		</div></div>
		</div>
	</div>

	<div id="content" class="container">

		<div id="main" class="row-fluid">

	<header class="entry-header">
		<h1 class="entry-title"><span>{$name}</span></h1>
	</header><!-- .entry-header -->
		
					
		<div class="row-fluid">
			<section id="grid" class="grid clearfix" >
		{foreach from=$category_games item=category key=i}
	      {if $i > 3}
				<a href="{$base_url}game/play/{$category.game_id}/{$category.game_ascii_title}" data-path-hover="m 0,0 0,47.7775 c 24.580441,3.12569 55.897012,-8.199417 90,-8.199417 34.10299,0 65.41956,11.325107 90,8.199417 L 180,0 z" title="{$category.game_ascii_title}" style="border: 1px;" >
					<figure>
						<img src="{$category.game_image_url}" alt="{$category.game_ascii_title}" />
						<svg viewBox="0 0 180 320" preserveAspectRatio="none"><path d="m 0,0 0,171.14385 c 24.580441,15.47138 55.897012,24.75772 90,24.75772 34.10299,0 65.41956,-9.28634 90,-24.75772 L 180,0 0,0 z"/></svg>
						<figcaption>
							<h2>{$category.game_title}</h2>
							<p>{$category.game_description|truncate:60:"...":true:true}</p>
						</figcaption>
					</figure>
				</a>
		  {/if}
		{/foreach}
			</section>
		 
		</div>
		
			<div class="clearfix"></div>
					<div>
						{if $next > 1}
						<a href="{$req_uri}/{$prev}" class='next'>Prev</a>
						<span>&nbsp;&nbsp;</span>
						{/if}
						<a href="{$req_uri}/{$next}" class='next' style="text-align: right;">Next</a>
					</div><br/>
		</div><!-- #main -->

	</div><!-- #content -->

