<!DOCTYPE  html>
<html>
	<head>
		<meta charset="utf-8">
		<title>hiiku.com</title>

		<!-- Meta Tags -->
		<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<meta name="distribution" content="global" />		
		<meta name="language" content="en" /> 		
		
		<meta property="og:type" content="article" />			
		<meta property="article:author" content="Vijayaragavan Sivagurusamy" />			
		<meta property="article:section" content="" />			
		<meta name="twitter:card" content="summary" />
		<meta name="twitter:creator" content="@vijayaragavans" />
		<meta property="og:description" content="" />
		<meta name="verifyownership" content="7d1481c31ac7abe693dc0c3fc294b690" />
		<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1" />
		<!-- Favicon -->
		<link rel="icon" href="{$static_server}files/ugc/images/hiiku_ico.ico" sizes="16x16">
		<!-- Stylesheets -->
	<link rel='stylesheet' id='magz-style-css'  href='{$static_server}files/ugc/style.css' type='text/css' media='all' />
	<link rel='stylesheet' id='swipemenu-css'  href='{$static_server}files/ugc/css/swipemenu.css' type='text/css' media='all' />
	<link rel='stylesheet' id='flexslider-css'  href='{$static_server}files/ugc/css/flexslider.css' type='text/css' media='all' />
	<link rel='stylesheet' id='bootstrap-css'  href='{$static_server}files/ugc/css/bootstrap.css' type='text/css' media='all' />
	<link rel='stylesheet' id='bootstrap-responsive-css'  href='{$static_server}files/ugc/css/bootstrap-responsive.css' type='text/css' media='all' />
	<link rel='stylesheet' id='simplyscroll-css'  href='{$static_server}files/ugc/css/jquery.simplyscroll.css' type='text/css' media='all' />
	<link rel='stylesheet' id='jPages-css'  href='{$static_server}files/ugc/css/jPages.css' type='text/css' media='all' />
	<link rel='stylesheet' id='rating-css'  href='{$static_server}files/ugc/css/jquery.rating.css' type='text/css' media='all' />
	<link rel='stylesheet' id='ie-styles-css'  href='{$static_server}files/ugc/css/ie.css' type='text/css' media='all' />
	<link rel='stylesheet' id='Roboto-css'  href='http://fonts.googleapis.com/css?family=Roboto' type='text/css' media='all' />

	</head>
	
	<body>

<div id="page">

	<header id="header" class="container">
		<div id="mast-head">
			<div id="logo">
			<a href="{$base_url}home/index" title="Hiiku" rel="home"><img src="{$static_server}files/ugc/images/logo.png" alt="Hiiku" /></a>
			</div>
		</div>

				
        <nav class="navbar navbar-inverse clearfix nobot">
						
			<a id="responsive-menu-button" href="#swipe-menu">
			  <span class="icon-bar"></span>
			  <span class="icon-bar"></span>
			  <span class="icon-bar"></span>		
			</a>	

            <!-- Responsive Navbar Part 2: Place all navbar contents you want collapsed withing .navbar-collapse.collapse. -->
            <div class="nav-collapse" id="swipe-menu-responsive">

			<ul class="nav" style="float: right;">
				
				<li><a href="{$base_url}home/index"><img src="{$static_server}files/ugc/images/home.png" alt="Hiiku"></a></li>
				<li class="dropdown"><a href="#">Category</a>
					<ul class="sub-menu">
						<li><a href="{$base_url}game/category/action">Action</a></li>
						<li><a href="{$base_url}game/category/adventure">Adventure</a></li>
						<li><a href="{$base_url}game/category/board-game">Board Game</a></li>
						<li><a href="{$base_url}game/category/dress-up">Dress Up</a></li>
						<li><a href="{$base_url}game/category/my-customize">My Customize</a></li>
						<li><a href="{$base_url}game/category/other">Other</a></li>
						<li><a href="{$base_url}game/category/strategy">Strategy</a></li>
						<li><a href="{$base_url}game/category/education">Education</a></li>
						<li><a href="{$base_url}game/category/rhythm">Rhythm</a></li>
						<li><a href="{$base_url}game/category/jigsaw-puzzles">Jigsaw / Slider Puzzles</a></li>
					</ul>
				</li>
				<li class="dropdown"><a href="#">Special Category</a>
					<ul class="sub-menu">
						<li><a href="{$base_url}game/category/casino">Casino</a></li>
						<li><a href="{$base_url}game/category/driving">Driving</a></li>
						<li><a href="{$base_url}game/category/fighting">Fighting</a></li>
						<li><a href="{$base_url}game/category/puzzles">Puzzles</a></li>
						<li><a href="{$base_url}game/category/shooting">Shooting</a></li>
						<li><a href="{$base_url}game/category/sports">Sports</a></li>
					</ul>
				</li>
				<li class="dropdown"><a href="http://coreindiatoday.com" target='_blank'>News</a>
				</li>
				<li class="dropdown"><a href="http://rightern.com" target='_blank'>Community</a>
				</li>
				<li><a href="{$base_url}home/contact">Contact</a></li>
			</ul>

            </div><!--/.nav-collapse -->
			
        </nav><!-- /.navbar -->
			
	</header><!-- #masthead -->
